h2{
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
 
}
th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    background-color: black;
    border-color: yellow;
}
table{
    border-bottom-color: orange;
    border-top-color: fuchsia;
    border-left-color: chartreuse;
    border-right-color: navy;
    border-collapse: collapse;
    border-style: groove;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: lightcyan;
}